body{
    font-family: 'Poppins', sans-serif;
}

/* First Section Style */

.first-section{
    width: 100%;
    height: 1000px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section h1{
    text-align: center;
    color: white;
}