body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/********* First Section Style *********/

/* Adding background image in first section */

#first-section {
    width: 100%;
    height: 100vh;
    background-image: url(./images/donation1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

/* Adding a textbox in first section with div */
.first-sec-text-box {
    margin: 0px;
    padding: 100px;
    /* border: 2px solid black; */
}

/* Adding h1 style */

h1 {
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-size: 68px;
    font-weight: bolder;
    line-height: 100px;
    color: white;
    /* color: rgb(227, 241, 30); */
    margin-bottom: 0px;
}

/* Adding paragraph style */
.all-paragraphs{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    /* color: white; */
    font-size: 18px;
}

.centering-donation-button {

    margin-top: 0px;
    margin-right: 496px;
    margin-bottom: 10px;
    margin-left: 500px;
    /* border: 2px solid black;  Added for practice */
}

.centering-donation-button a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 400;
    margin: 0px;
    padding: 10px;
    background-color: rgb(231, 82, 65);
    border-radius: 5px;
}

/***************First Section Style Done ******************/

/* ****************Second Section Styling Starts**************/
.second-sec{
    width: 100%;
    height: 520px;
    margin-bottom: 0px;
    /* background-color: aqua; */
}

h2{
    text-align: center;
    font-size: 35px;
    font-weight: 900;    
}

.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div{
    background-color: rgba(128, 128, 128, 0.096);
    width: max-content;
    height: 50px;
    margin: 10px;
    padding:30px;
    border-radius: 7px;
    text-align: center;
    list-style: 75px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(128, 128, 128);
}

#two-hundred-taka{
    color: rgb(248, 122, 108);
    border: 3px solid rgb(248, 122, 108);
}

#input-type-text{
    font-size: 16px;
    text-align:center;
    width:50%;
    height: 30px;
    border:none;
    border-bottom: 1px solid grey;
    
    text-decoration: none;
    margin-top: 50px;
    margin-right: 350px;
    margin-bottom: 0px;
    margin-left:350px;

    color: rgba(128, 128, 128, 0.945);
}

/* This below thing was really out of the box */
/* remove the outline border on input text element */
input#input-type-text:focus{
    outline:none;
}

/********************* Second Section Styling Done *********************/

/********************* Third Section Begins ****************************/

.flexible-container{
    display: flex;
    margin: 7%;
}

.third-sec-flexible-items{
    margin-left: 2%;
    margin-right: 2%;
    padding: 45px 20px 10px 20px;
    /* border: 2px solid black; */
    /* background-color: orange; */
    /* color: white; */
}

.food{
    background-color: rgba(180, 226, 180, 0.233);
}

.shelter{
    background: rgba(252, 164, 154, 0.349);
}

.education{
    background-color: rgba(243, 176, 88, 0.253);
}

/* **********Bonus Section Begins******** */

.bonus-flexible-item{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.divide-width1{
    width: 15%;
    margin-right: 20px;
}

.divide-width2{
    width: 85%;
}

/******************* Bonus Section Done *******************/

/******************* Fourth Section Begins ****************/

#email-sec{
    margin: 50px 350px 100px 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:500px;
    height: 150px;
    background-color: antiquewhite;
    overflow: visible;
}

.border-radius-email-and-subscribe{
    border-radius: 4px;
}

.email-form input{
    font-size: 18px;
    color: rgb(85, 84, 84);
    padding: 15px 0px 15px 10px;
    border: none;
    outline: none;
    margin: 0px;
    background-color: rgba(128, 128, 128, 0.295);
}

.email-form button{   
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    background-color: rgba(241, 122, 101, 0.966);
    cursor: pointer;
    margin: 0px;
}

footer{
    background-color: black;
    margin-bottom: 0px;
    height: 250px;
}

footer h3{
    padding-top: 25px;
    font-size: 28px;
    font-family: 'Lobster', cursive;

    font-family: 'Poppins', sans-serif;
    color: orangered;
    text-align: center;
}

footer p{
    text-align: center;
    color: white;
    font-size: 16px;
}